<?xml version="1.0"?>
<launch>    

    <!-- USB camera, image processing, and apriltag detector -->
    <include file="$(find apriltags_ros)/launch/camera_proc_tag.launch" />

    <!-- apriltag_localization -->
    <include file="$(find apriltag_localization)/launch/apriltag_localization.launch" />
    

</launch>
